<p id="notice"><%= notice %></p>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn waves-effect waves-light' %>
<%= link_to 'show Game List', games_path %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
