<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <h2 class="header"><%= @game.name %></h2>
    <p class="caption">base_url: <%= @game.base_url %></p>
    <h3>API一覧</h3>

    <table class="striped">
      <thead>
      <tr>
        <th>API名</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @game_apis.each do |game_api| %>
          <tr>
            <td><%= link_to game_api.name, game_game_api_path(game_id: @game.id, id: game_api.id) %></td>
            <td style="width: 50px;">
              <%= link_to 'Edit', edit_game_game_api_path(game_id: @game.id, id: game_api.id) ,
                          class: 'btn waves-effect waves-light' %>
            </td>
            <td style="width: 50px;">
              <%= link_to 'Destroy', game_game_api_path(game_id: @game.id, id: game_api.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn waves-effect waves-light' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to '新しいAPIを追加', new_game_game_api_path(game_id: @game.id), class: 'btn waves-effect waves-light' %>
    <%= link_to 'ゲーム一覧に戻る', games_path, class: 'btn waves-effect waves-light' %>
  </div>
</div>
